<main class="canvas-area">
  <div class="canvas-header">
    <span class="template-title">{{ templateNome }}</span>
  </div>

  <div class="dependency-board">
    
    <!-- Loop 1: Desenha as colunas baseadas na matriz do TS -->
    <div *ngFor="let coluna of colunas" class="dependency-column">
      
      <!-- Loop 2: Renderiza os cartões dentro dessa etapa -->
      <div *ngFor="let tarefa of coluna" class="task-card">
        <div class="task-header">
          <span class="task-name">#{{ tarefa.indiceLocal }} - {{ tarefa.titulo }}</span>
          <span class="status-indicator"
                [ngClass]="{
                  'green': tarefa.estado === 'FINALIZADO',
                  'yellow': tarefa.estado === 'EM_ANDAMENTO',
                  'red': tarefa.estado === 'BLOQUEADO'
                }">
          </span>
          <button class="delete-btn" (click)="deleteTarefa(tarefa)" title="Excluir Tarefa" style="background: none; border: none; cursor: pointer; padding: 0; font-size: 1.1em; margin-left: 8px;">🗑️</button>
        </div>
        <div class="task-body">
          <span class="task-descript">{{ tarefa.descricao }}</span>
        </div>
        
        <div class="task-dependencies" *ngIf="tarefa.dependenciasIds && tarefa.dependenciasIds.length > 0">
          <small>Depende de:</small>
          <ul class="dep-list">
            <li *ngFor="let depId of tarefa.dependenciasIds" class="dep-item">
              {{ getNomeTarefa(depId) }}
              <button class="btn-remove-dep" (click)="removerDependencia(tarefa, depId)" title="Remover dependência">x</button>
            </li>
          </ul>
        </div>

        <div class="task-actions">
          <button *ngIf="tarefa.estado !== 'BLOQUEADO'" (click)="avancarEstado(tarefa)">
            {{ tarefa.estado === 'PENDENTE' ? 'Iniciar' : (tarefa.estado === 'EM_ANDAMENTO' ? 'Finalizar' : 'Reabrir') }}
          </button>
          <span *ngIf="tarefa.estado === 'BLOQUEADO'" class="blocked-msg">Bloqueada</span>
          <button (click)="adicionarDependencia(tarefa)">+ Dep</button>
        </div>
      </div>
      
    </div>

  </div>

  <button class="fab-add" (click)="abrirModalNovaTarefa()">+</button>
</main>