<main class="canvas-area">
  <div class="canvas-header">
    <span class="template-title">{{nomeTemplate}}</span>
  </div>

  <div class="dependency-board">
    
    <!-- Loop 1: Desenha as colunas baseadas na matriz do TS -->
    <div *ngFor="let coluna of colunas" class="dependency-column">
      
      <!-- Loop 2: Renderiza os cartões dentro dessa etapa -->
      <div *ngFor="let tarefa of coluna" class="task-card" (click)="abrirModalNovaTarefa(tarefa)">
        <div class="task-header">
          <span class="task-name">{{ tarefa.titulo }}</span>
          <span class="status-indicator"
                [ngClass]="{
                  'green': tarefa.status === 'FINALIZADO',
                  'yellow': tarefa.status === 'EM_ANDAMENTO',
                  'red': tarefa.status === 'BLOQUEADO'
                }">
          </span>
        </div>
        <div class="task-body">
          <span class="task-descript">{{ tarefa.descricao }}</span>
        </div>
      </div>
      
    </div>

  </div>

  <button class="fab-add" (click)="abrirModalNovaTarefa(tarefa_click)">+</button>
  @if (isTaskModalOpen) {
    <div class="overlay-fantasma">
        <app-task 
        [tarefa]="tarefa_click"
        (avisoFechar)="fecharModalTarefa()"
        (taskMod)="receberTarefaMod($event)"
        (avisoLista)="abrirTelaDependencias()"
        (click)="$event.stopPropagation()">
        </app-task>
    </div>
  }

  @if (isTelaDependencias) {
    <div class="overlay-fantasma" (click)="fecharListaDependencias()">
      <app-dependencies
      [tarefa]="tarefa_click"
      [lista]="tarefas"
      (avisoFecharLista)="fecharListaDependencias()"
      (taskAdd)="adicionarDependencia($event)"
      (taskRem)="removerDependencia($event)"
      (click)="$event.stopPropagation()">
      </app-dependencies>
    </div>
  }

  @if(mensagemErroLoop()){
    <div class="toast-erro-loop">
      <span class="icone">⚠️</span>
      {{ mensagemErroLoop() }}
    </div>
  }

</main>